
<div  class='container-404'>

  <div  class="HeaderText404">
    <p class="Title404">404 ERROR!</p>
    <p  class="Tagline404">(tan tan tan!)</p>
  </div>

  <div  class="MainContent-wrap-404">
    <img  src="/assets/img/kappa hd.png"></img>
    <div  class="TextBox404">
      <div class="seperator"></div>
      <div  class="MainText404">
        <p  class="MainTextHeader404">OH NO!</p>
        <p class="MainTextPara404"> It looks like you've ended up somewhere that broke the website. <br></br>
          Do you know how difficult it is to maintain these things? Websites don't grow on trees you know...
          But I guess branches do grow on trees and since this site is hosted on github pages I guess that means
          this somehow does grow on a tree?
          <br></br>
          <br></br>
          NOTHING TO SEE HERE FOLKS, just go back to the main site and everything will be fine.
        </p>
      </div>
    </div>
  </div>
</div>
