<a name="about"></a>
<div class="aboutBack defer" id='about' data-src="/assets/img/sunset_compressed">
  <div class="about-contentWrap">
    <div class="imageContainer">

      <div class="facePic defer" data-src="/assets/img/selfie"></div>

      <p class="faceTag">(that's me!)</p>

    </div>

    <div class="about-spacer"></div>

    <div class="aboutBox">
      <p class="aboutText">
        <strong> About Me! </strong>
        <br></br>
        Hi! As you can probably tell, I’m Aaron. That’s “ah-run” (the right way it’s pronounced). Alternatively: ‘ay-ay-ron’.<br></br>

      Chances are that you’ve probably Googled my name and have arrived here. That’s cool, we all have those late Sunday night “Hey I wonder what weird embarrassing baby pictures I can find on <insert name here>”. No? Okay maybe that’s just me. <br></br>

      If you haven’t Googled me that probably means that I thought you were cool enough to send you here myself. You should be proud, you’re probably even on my official ‘cool’ list.<br></br>

      Enough rambling. Now for the mildly-interesting stuff about me.<br></br>

      I’m an 18 year old student currently studying Bsc Computer Science at Warwick. I have a range of interests from code to graphic design to film making to face-swapping my mates on photoshop. One thing they all have in common is that they all stem from my deep-rooted obsession with technology. I could type without looking before I could walk. (Thanks for putting up with my loud keystrokes all these years mum and dad). <br></br>

      Right now my biggest ambitions in life revolve around code - I want to be a full-time software developer! Maybe even someday start my own software company, but I’m open to wherever life takes me.
    </p>
    </div>

    <div class="radio"></div>

  </div>
</div>
