<a name="connect"></a>

<div  class="connectBack defer" data-src="/assets/img/ski_compressed.jpg">

  <div class="freelance">
    <div class="freelanceButton"><p class="hireMe">hire me!</p></div>
    <p  class="freelanceTag">I do freelance stuff!</p>
  </div>

<div  class="twitterFeed">
</div>
<div id="connectLineBreak" class="lineBreak"></div>

  <div class="lowerContent-wrap">
    <div class="coffee">
      <p class="coffeeTag">buy me a coffee?</p>
      <a class="coffeeButton" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GVGRMT7UZBB6G"  target="_blank" ><div class="coffeeButton" id="innerCoffeeButton">

   <svg class="coffeeIcon" enable-background="new 0 0 26 29" height="25px" id="Layer_1" version="1.1" viewBox="0 0 26 29" width="22px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M1.035,9l3.49,17.478C4.525,27.854,5.643,29,7.019,29H13h5.981c1.376,0,2.493-1.146,2.493-2.522L24.965,9
  H13H1.035z" fill="#7d5025"/><path d="M23.524,3H21V2.824C21,1.264,19.736,0,18.176,0H7.824C6.264,0,5,1.264,5,2.824V3H2.476
  C0.946,3,0,3.939,0,5.468V7h7.824h10.352H26V5.468C26,3.939,25.053,3,23.524,3z" fill="#7d5025"/></g></svg>
  <p class="coffeeGratitude" id="iLoveYou"><3</p>
      </div></a>
    </div>
    <div  class="email">
      <p class="emailTag">give me a shout!</p>
      <a class="emailButton" href="mailto:aaronbaw@gmail.com?Subject=I%20think%20you%20are%20totally%20rad." target="_blank"><div  class="emailButton">
        <svg height="22px" id="Layer_1" style="enable-background:new 0 0 16 16;" version="1.1" viewBox="0 0 16 16" width="22px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path  fill="#326197" d="M8,10c-0.266,0-0.5-0.094-1-0.336L0,6v7c0,0.55,0.45,1,1,1h14c0.55,0,1-0.45,1-1V6L9,9.664C8.5,9.906,8.266,10,8,10z M15,2  H1C0.45,2,0,2.45,0,3v0.758l8,4.205l8-4.205V3C16,2.45,15.55,2,15,2z"/></svg>
      </div></a>
    </div>
  </div>

</div>
