<span>
<header>

<div class="mobNav" id="nav">
  <button class="hamburger hamburger--elastic" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>

<div class="nwrap">

  <p class="logo">aaron</p>

  <div class="deskNav">

    <nav>
      <a href="">home</a>
      <a href="">about</a>
      <a href="">skills</a>
      <a href="">connect</a>
    </nav>

  </div>
</div>





  <div class="home_text">
    <p class="home_title">aaron's space</p>
    <p class="home_tagline">student // tinkerer // maker</p>
  </div>

  <div class="downNavArrow">
<svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <rect fill="none" height="50" width="50"/>
  <polygon points="47.25,15 45.164,12.914 25,33.078 4.836,12.914 2.75,15 25,37.25 "/>
</svg>
  </div>


</header>
</span>
