<div class="landing-container">
<a id="home"></a>

{% include navbar.html %}

<div class="landing-content-container">
  <div class="tag-button-container">
    <h1 class="animated forward fadeInUp landing-tagline">Hi, I'm Aaron. I make sleek and meaningful design that works.</h1>
    <img class="animated forward fadeInUp downArrow" src="/assets/img/roundedDownArrow.svg"></img>
  </div>
  <div class="animated forward fadeIn profile-shot"></div>
  <!-- <img class="profile-shot" src="/assets/img/profile_shot.png"></img> -->
</div>

</div>
