<div class="nwrap">
  <div class="mobNav" id="nav">
    <button class="hamburger hamburger--elastic" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <p class="logo">aaron</p>

  <div class="deskNav">

    <nav>
      <a href="#home" id="home">home</a>
      <a href="#about" id="about">about</a>
      <a href="#skills" id="skills">skills</a>
      <a href="#connect" id="connect">connect</a>
    </nav>

  </div>
</div>

<div  class="mobNavMenu">
  <div class="mobNavMenu-wrap">
    <a class="mobNavClick" href="#home" id="homeMob">home</a>
    <div class="lineBreak mobNavLineBreak" ></div>
    <a class="mobNavClick" href="#about" id="aboutMob">about</a>
    <div class="lineBreak mobNavLineBreak" ></div>
    <a class="mobNavClick" href="#skills" id="skillsMob">skills</a>
    <div class="lineBreak mobNavLineBreak" ></div>
    <a class="mobNavClick" href="#connect" id="connectMob">connect</a>
  </div>
</div>
