<a name='skills'></a>

<div class="skillsBack defer" data-src="/assets/img/industrial_compressed">
<!-- Grey overwash -->
  <div class="skillsOverwash">
    <div class="skillsMainHeader"><p class="skillsTitle">what I do <p class="skillsTitle2 skillsTitle">// skills</p></p></div>

      <div  class="skillsContent-wrap">
          <div class="graphics  skillsContent">
            <div class="circlePlaceholder">
              <svg  class="paintBrush" fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M7 14c-1.66 0-3 1.34-3 3 0 1.31-1.16 2-2 2 .92 1.22 2.49 2 4 2 2.21 0 4-1.79 4-4 0-1.66-1.34-3-3-3zm13.71-9.37l-1.34-1.34c-.39-.39-1.02-.39-1.41 0L9 12.25 11.75 15l8.96-8.96c.39-.39.39-1.02 0-1.41z"/>
              </svg>
            </div>
            <p class="skillHeader">Graphic Design.</p>
            <p  class="skillParagraph">
              I have obsessively high design standards, and years of experience with professional industry software like Photoshop.<br></br>

I have previously worked on brand design for a number of companies, including printed works like banners and posters, as well as marketing campaigns and social media presences.
            </p>
          </div>
          <div  class="software skillsContent">
            <div class="circlePlaceholder">
              <p class="skillsCodeHeader">{ code }</p>
            </div>

              <p class="skillHeader">Software.</p>
              <p  class="skillParagraph">
                  I am familiar with front-end web languages like HTML / CSS / Javascript to the extent that I can code websites like this one, from scratch.<br></br>

                  I am currently learning Python and back-end languages like NodeJs, Ruby on Rails and PHP.<br></br>

                  I also plan to dive into mobile development and learn Objective-C / Swift for iOS and Java for the android side of things.
              </p>

          </div>
          <div  class="video  skillsContent">
            <div class="circlePlaceholder">
              <svg class="videoCameraIcon" height="16px" version="1.1" viewBox="0 0 20 16" width="20px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><defs/><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#252525" id="Core" transform="translate(-548.000000, -172.000000)"><g id="drive-video" transform="translate(548.000000, 172.000000)"><path d="M16,0 L18,4 L15,4 L13,0 L11,0 L13,4 L10,4 L8,0 L6,0 L8,4 L5,4 L3,0 L2,0 C0.9,0 0,0.9 0,2 L0,14 C0,15.1 0.9,16 2,16 L18,16 C19.1,16 20,15.1 20,14 L20,0 L16,0 L16,0 Z" id="Shape"/></g></g></g></svg>


            </div>
            <p class="skillHeader">Video.</p>
            <p  class="skillParagraph">
              I’m a hobbyist video maker and have worked on a range of  different personal projects.<br></br>

I have experience with the Adobe Creative Suite and can create professional looking animations and short videos, as well as longer form film-esque style content with software like Adobe Premiere.
            </p>
      </div>


  </div>

</div>

</div>
