.aboutBack
  display: block
  background-image: url('/assets/img/sunset.jpeg')
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  height: 100%

.imageContainer
  display: inline-block
  margin-top: 100px
  margin-left: -100px


.faceTag
  font-family: 'Open Sans', sans-serif
  font-style: italic
  color: white
  text-align: center
  margin-top: 10px

.facePic
  display: inline-block
  width: 400px
  height: 400px
  border-radius: 100%
  background-image: url('/assets/img/selfie.jpg')
  background-position: center 20%
  background-size: cover
  border: 15px white solid

.aboutBox
  display: inline-block
  background-color: white
  width: 400px
  float: right
  border-radius: 5px
  margin-top: 100px
  margin-right: 5%
  box-shadow: 0px 0px 5px rgba(0,0,0,0.35)


.aboutText
  font-family: 'Open Sans', sans-serif
  color: black
  padding: 15px
  display: inline-block
  font-weight: 300
