.connectBack
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  height: 100%
  background-image: url('/assets/img/ski_compressed.jpg')
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  width: 100%
  @media screen and (max-width: 550px)
    background-image: url("/assets/img/ski_compressed_mobile.jpg")

.freelance
  display: flex
  margin-top: 5%
  align-items: center
  flex-direction: column

.freelanceTag
  font-family: 'Open Sans', sans-serif
  font-weight: lighter
  color: #7a7a7a
  font-style: italic
  text-align: center
  margin-top: 15px
  margin-bottom: 0

.freelanceButton
  display: flex
  justify-content: center
  align-items: center
  width: 200px
  height: 50px
  border-radius: 25px
  background-color: #2d2d2d
  opacity: 0.8
  transition: all 0.3s ease-in-out
  -webkit-transiton: all 0.3s ease-in-out
  transform: scale(1)

  &:hover
    transform: scale(1.02)
    opacity: 1
    box-shadow: 0px 5px 10px rgba(0,0,0,0.13)

  .hireMe
    font-size: 20px
    margin-bottom: 0
    font-family: 'Roboto', sans-serif
    font-weight: lighter
    color: #f7f7f7

#connectLineBreak
  margin-top: auto

.coffeeTag, .emailTag
  margin-bottom: 0
  font-family: 'Open sans', sans-serif
  font-weight: lighter
  font-size: 19px
  color: #252525
  @media screen and (max-width: 585px)
    display: none

.lowerContent-wrap
  margin-top: 0
  width: 60%
  height: 200px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin-bottom: 0

.coffee, .email
  width: 100%
  display: flex
  justify-content: center
  align-items: center

.coffee
  margin-bottom: 20px

.coffeeButton, .emailButton
  margin-left: auto
  display: flex
  align-items: center
  justify-content: center
  width: 170px
  height: 40px
  border-radius: 25px
  background-color: #c69c6d
  opacity: 0.8
  transition: all 0.3s ease-in-out
  -webkit-transiton: all 0.3s ease-in-out
  @media screen and (max-width: 585px)
    margin-left: 0

  &:hover
    border-radius: 3px
    opacity: 1

.twitterFeed
  margin-bottom: 25px
  display: flex
  width: 60%
  background-color: white
  border-radius: 5px
    // box-shadow: 0px 0px 5px rgba(0,0,0,0.2)
  @media screen and (max-width: 775px)
    width: 90%

.upperContent-wrap
  display: flex
  flex-direction: column
  height: 100%
  width: 100%

.brainFart
  margin-top: auto
  font-family: 'Roboto', sans-serif
  color: #7a7a7a
  font-size: 15px
  font-weight: lighter
  margin-bottom: 5px
  align-self: flex-start
  margin-left: 20%
  @media screen and (max-width: 775px)
    margin-left: 5%

.brainFart-wrap
  flex-grow: 1
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

.coffeeGratitude
  margin-bottom: 0
  font-family: 'Open sans', sans-serif
  font-size: 17px
  font-weight: bold
  font-style: italic
  color: #7d5025

//.coffeeGratitudeAppear
  content: "i love you"

.emailButton
  background-color: #7da7d9
