div.connect-container
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center

h2#connect-link
  // border-top: 2px solid black
  transition: 0.3s ease-in-out
  &:hover
    opacity: 0.6

div.footer-content-container
  display: flex
  width: 100%
  flex-grow: 1
  justify-content: center
  align-items: center

div.social-media-container
  margin-top: 70px
  margin-bottom: 50px

footer
  margin-top: auto
  display: flex
  align-items: center
  flex-direction: column

.social-icon
  /* Alter opacity instead of colour so we can support <IMG /> and SVGs. */
  opacity: 0.5
  height: 30px
  width: 30px
  margin-left: 10px
  margin-right: 10px
  transition: 0.3s ease-in-out
  cursor: pointer

  &:hover
    opacity: 1

p.footer-copyright
  margin: 0 0 20px 0
  color: #cccccc
  font-size: 10px

div#footer-separator
  margin-left: auto
  margin-right: auto
