html
  height: 100%

body
  height: 100%
  width: 100

.body
  height: 100%
  width: 100%
  position: absolute
  transition: all 0.6s ease-in-out

.hamTrans
  -webkit-filter: brightness(40%)
  transform: translateX(-60%)

header
  background-image: url("/assets/img/tent_compressed.jpg")
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  width: 100%
  height: 100%
  @media screen and (max-width: 550px)
    background-image: url("/assets/img/tent_compressed_mobile.jpg")






.logo
  font-family: 'Muli', sans-serif
  font-weight: lighter
  font-size: 25px
  color: #bfbfc0
  margin-left: 25px
  margin-top: 7px
  padding: 0
  display: inline-block
  float: left

.homeContent
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 100%

.home_text
  display: block
  clear: both



  p
    display: block
    text-align: center

.home_title
  font-family: 'Muli', sans-serif
  font-size: 100px
  font-weight: lighter
  color: white
  text-shadow: 0px 0px 10px rgba(0,0,0,0.1)
  @media screen and (max-width: 670px)
    font-size: 70px


.home_tagline
  font-family: 'Muli', sans-serif
  font-size: 25px
  font-weight: lighter
  color: rgba(255,255,255,0.71)
  text-shadow: 0px 0px 10px rgba(0,0,0,1)


.downNavArrow
  display: block
  margin-top: 100px

  svg
    -webkit-transition-timing-function: ease
    transition-timing-function: ease
    transition-duration: 500ms
    display: block
    margin: auto
    fill: white
    opacity: 0.6

    &:hover
      transform: scale(1.1)
      -webkit-transition-timing-function: ease
      transition-timing-function: ease
      transition-duration: 500ms
      opacity: 1


button:focus
  outline: none
