div.landing-content-container
  display: flex
  flex-grow: 1

div.tag-button-container
  width: 400px
  display: flex
  align-items: center
  flex-direction: column
  margin-left: 15%

h1
  margin-top: 20%
  margin-bottom: 0
  font-size: 40px
  font-family: "Open Sans", sans-serif
  color: #2e2e2e
  font-weight: 300

img.downArrow
  width: 45px
  margin-top: auto
  margin-bottom: auto

img.profile-shot
  position: absolute
  right: 0
  bottom: 0
  height: 100%
  z-index: -1
