.navbar-container
  display: flex
  padding: 50px
  align-items: center

  @media screen and (max-width: 800px)
    justify-content: center

.mobNav::selection
  background: none

p.logo
  font-family: "Muli", sans-serif
  font-size: 25px
  color: darkslategrey
  margin: 0

.opaqueNav
  background-color: white
  box-shadow: 0px 0px 5px rgba(0,0,0,0.35)
  color: black

nav
  height: 100%
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  font-family: 'Open Sans', sans-serif
  font-size: 20px
  font-weight: 300
  margin-left: auto
  font-family: "Muli", sans-serif

  @media screen and (max-width: 800px)
    display: none

  a
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    transition-duration: 500ms
    -webkit-transition-timing-function: ease
    transition-timing-function: ease
    color: darkslategrey
    margin-right: 20px
    position: relative
    text-decoration: none

    &:before
      content: " "
      position: absolute
      width: 100%
      visibility: hidden
      height: 3px
      left: 0
      bottom: -16px
      background-color: #edc588
      transform: scaleX(0)
      -webkit-transform: scaleX(0)
      transition: all 0.3s ease-in-out 0s
      -webkit-transition: all 0.3s ease-in-out 0s

    &:hover
      -webkit-transition-timing-function: ease
      transition-timing-function: ease
      -webkit-transition-duration: 500ms
      transition-duration: 500ms
      color: #edc588

    &:hover:before
      visibility: visible
      -webkit-transform: scaleX(1)
      transform: scaleX(1)



.darkerNavItems
  a
    &:hover
      -webkit-transition-timing-function: ease
      transition-timing-function: ease
      transition-duration: 500ms
      color: black

.pushNav
  transform: translateX(-60%)
