html
  height: 100%
  width: 100%

body
  height: 100%
  width: 100%
  // display: flex

// Some general global class declarations for utility:

.forward
  animation-fill-mode: backwards !important

div.line-separator
  width: 70px
  height: 2px
  background-color: rgba(32,32,32,0.13)

.typed-cursor
  opacity: 1
  -webkit-animation: blink
  -moz-animation: blink 0.7s infinite
  animation: blink 0.7s infinite

@keyframes blink

  0%
    opacity: 1

  50%
    opacity:  0

  100%
    opacity: 1


@-webkit-keyframes blink
  0%
    opacity: 1

  50%
    opacity:  0

  100%
    opacity: 1


@-moz-keyframes blink
  0%
    opacity: 1

  50%
    opacity:  0

  100%
    opacity: 1
